openapi: 3.1.0

info:
  title: Sitdown API
  version: 1.0.0
  description: >
    REST API for the team standup tracker. Single organisation, no SaaS.
    All endpoints except `POST /token` and `POST /token/refresh` require a Bearer JWT.
    The JWT embeds an org-wide `role` claim (MANAGER | MEMBER | GUEST).
    Project membership is enforced server-side via the `ProjectMember` table.

servers:
  - url: https://api.sitdown.traygo.app/v1
    description: Production
#    also localhost:8000

security:
  - bearerAuth: []

tags:
  - name: auth
    description: Token issuance
  - name: groups
    description: Project management
  - name: members
    description: Project membership
  - name: meetings
    description: Standup meeting events
  - name: entries
    description: Per-member standup tabs inside a meeting
  - name: users
    description: Organisation user directory (read-only; managed via Django admin)

# ===========================================================================
# PATHS
# ===========================================================================
paths:

  # -------------------------------------------------------------------------
  # Auth
  # -------------------------------------------------------------------------
  /token:
    post:
      operationId: token_create
      tags: [auth]
      summary: Log in
      description: >
        Authenticates with username and password. Returns an access/refresh token pair.
        The `role` claim in the JWT is derived from the user's account server-side.
        No `Authorization` header required.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
            example:
              username: alice
              password: correct-horse-battery-staple
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INVALID_CREDENTIALS
                message: No active account found with the given credentials

  /token/refresh:
    post:
      operationId: token_refresh
      tags: [auth]
      summary: Refresh an access token
      description: >
        Exchanges a valid refresh token for a new short-lived access JWT.
        The refresh token is invalidated after use (rotation).
        No `Authorization` header required.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefreshRequest'
      responses:
        '200':
          description: New token pair issued (old refresh token invalidated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: Refresh token is invalid or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: INVALID_REFRESH_TOKEN
                message: Refresh token is invalid or has expired

  # -------------------------------------------------------------------------
  # Users — read-only directory
  # -------------------------------------------------------------------------
  /users:
    get:
      operationId: users_list
      tags: [users]
      summary: List organisation users
      description: >
        Returns a paginated list of all users in the organisation.
        Intended for use in membership dropdowns when adding someone to a project.
        **MANAGER only** — members and guests cannot browse the user directory.
      parameters:
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
        - name: search
          in: query
          description: Case-insensitive substring filter on `name` or `email`.
          required: false
          schema:
            type: string
          example: alice
      responses:
        '200':
          description: Paginated list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # -------------------------------------------------------------------------
  # Groups — collection
  # -------------------------------------------------------------------------
  /groups:
    get:
      operationId: groups_list
      tags: [groups]
      summary: List accessible groups
      description: >
        Returns a paginated list of groups the requesting user can access.
        MANAGER sees all groups. MEMBER and GUEST see only groups they are
        a member of (`ProjectMember` row exists).

        **Ordering:** groups pinned by the requesting user appear first,
        followed by the remaining groups sorted by `created_at` descending.

        The `pinned` field in each Group object reflects whether the
        requesting user has pinned that group.
      parameters:
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
        - name: search
          in: query
          description: Case-insensitive substring filter on `name`.
          required: false
          schema:
            type: string
          example: falcon
      responses:
        '200':
          description: Paginated list of groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedGroups'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      operationId: groups_create
      tags: [groups]
      summary: Create a group
      description: Creates a new project group. **MANAGER only.**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreate'
            example:
              name: Project Falcon
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # -------------------------------------------------------------------------
  # Groups — single
  # -------------------------------------------------------------------------
  /groups/{id}:
    parameters:
      - $ref: '#/components/parameters/id'

    patch:
      operationId: groups_partial_update
      tags: [groups]
      summary: Update a group
      description: >
        Updates a group's `name`. **MANAGER only.**
        To pin or unpin use `PUT /groups/{id}/pin` and `DELETE /groups/{id}/pin`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
            example:
              name: Project Falcon (archived)
      responses:
        '200':
          description: Group updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: groups_destroy
      tags: [groups]
      summary: Delete a group
      description: >
        Deletes a group and **all its meetings and member entries** (cascade).
        **MANAGER only.**
      responses:
        '204':
          description: Group deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # -------------------------------------------------------------------------
  # Group pin — per-user M2M
  # -------------------------------------------------------------------------
  /groups/{id}/pin:
    parameters:
      - $ref: '#/components/parameters/id'

    put:
      operationId: groups_pin
      tags: [groups]
      summary: Pin a group
      description: >
        Pins the group for the requesting user only. Idempotent — pinning
        an already-pinned group is a no-op. Any authenticated user with
        access to the group can pin it. Pinned groups are returned first
        in `GET /groups`.
      responses:
        '204':
          description: Group pinned (or was already pinned)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: groups_unpin
      tags: [groups]
      summary: Unpin a group
      description: >
        Removes the pin for the requesting user. Idempotent — unpinning a
        group that is not pinned is a no-op.
      responses:
        '204':
          description: Group unpinned (or was not pinned)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # -------------------------------------------------------------------------
  # Project membership
  # -------------------------------------------------------------------------
  /groups/{id}/members:
    parameters:
      - $ref: '#/components/parameters/id'

    get:
      operationId: groups_members_list
      tags: [members]
      summary: List project members
      description: >
        Returns all users who have been added to the project, including their
        org-wide role. Accessible to MANAGER, MEMBER, and GUEST (any user with
        access to the group).
      responses:
        '200':
          description: List of project members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectMemberRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: groups_members_add
      tags: [members]
      summary: Add a member to a project
      description: >
        Adds an existing user to the project. **MANAGER only.**
        The user's org-wide role determines their access level.
        Adding a GUEST creates a read-only membership (no MemberEntry created).
        Adding a MEMBER creates a read-write membership.
        Adding a user with the MANAGER role returns `400` — managers have implicit
        access to all groups and do not require a project membership row.
        Re-adding an existing member returns `409 Conflict`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemberRequest'
            example:
              user_id: a1b2c3d4-0000-0000-0000-000000000001
      responses:
        '201':
          description: Member added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMemberRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /groups/{id}/members/{user_id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_id'

    delete:
      operationId: groups_members_remove
      tags: [members]
      summary: Remove a member from a project
      description: >
        Removes a user from the project. **MANAGER only.**
        Historical `MemberEntry` records are preserved.
        Removing a user does not delete their past standup entries.
      responses:
        '204':
          description: Member removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # -------------------------------------------------------------------------
  # Meetings — collection
  # -------------------------------------------------------------------------
  /groups/{group_id}/meetings:
    parameters:
      - name: group_id
        in: path
        required: true
        description: UUID of the parent group.
        schema:
          type: string
          format: uuid

    get:
      operationId: meetings_list
      tags: [meetings]
      summary: List meetings for a group
      description: >
        Returns a paginated list of meetings sorted by `date` descending.
        Accessible to all users with access to the group (MANAGER, MEMBER, GUEST).
      parameters:
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Paginated list of meetings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMeetings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      operationId: meetings_create
      tags: [meetings]
      summary: Create a meeting
      description: >
        Creates a standup meeting for the given date in this project.
        **MANAGER only.**

        On success the server **eagerly creates one `MemberEntry`** for every
        non-GUEST `ProjectMember` of this group. Each entry's `promised` field
        is auto-populated from that user's most recent `will_do` in this project.

        Returns `409 Conflict` if a meeting already exists for this group and date.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingCreate'
            example:
              title: standup · 2026-05-09
              date: '2026-05-09'
      responses:
        '201':
          description: Meeting created (MemberEntries pre-created server-side)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meeting'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  # -------------------------------------------------------------------------
  # Meetings — single
  # -------------------------------------------------------------------------
  /meetings/{id}:
    parameters:
      - $ref: '#/components/parameters/id'

    patch:
      operationId: meetings_partial_update
      tags: [meetings]
      summary: Update a meeting
      description: >
        Updates meeting metadata (`title`, `date`, `completed`).
        **MANAGER only.** Members edit their content via `PATCH /meetings/{id}/entries/{user_id}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingUpdate'
            examples:
              mark_completed:
                summary: Mark as completed
                value: { completed: true }
              rename:
                summary: Rename
                value: { title: standup · 2026-05-09 (retro) }
      responses:
        '200':
          description: Meeting updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meeting'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      operationId: meetings_destroy
      tags: [meetings]
      summary: Delete a meeting
      description: >
        Deletes a meeting and **all its MemberEntries**. **MANAGER only.**
      responses:
        '204':
          description: Meeting deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # -------------------------------------------------------------------------
  # Member entries (tabs)
  # -------------------------------------------------------------------------
  /meetings/{id}/entries:
    parameters:
      - $ref: '#/components/parameters/id'

    get:
      operationId: entries_list
      tags: [entries]
      summary: List all member entries for a meeting
      description: >
        Returns all `MemberEntry` records for this meeting — one per non-GUEST
        project member. Accessible to all users with access to the parent group
        (MANAGER, MEMBER, GUEST). GUEST users are never included as entries.
        Results are ordered by `updated_at` descending (most recently edited first).
      responses:
        '200':
          description: List of member entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MemberEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /meetings/{id}/entries/{user_id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/user_id'

    patch:
      operationId: entries_partial_update
      tags: [entries]
      summary: Update a member entry
      description: >
        Updates section content for a `MemberEntry`. Send only the fields to change.

        - **MEMBER**: may only update their own entry (`user_id` must match JWT `sub`).
        - **MANAGER**: may update any entry.
        - **GUEST**: not permitted.

        Returns `403` if the parent meeting has `completed: true` — entries
        are read-only once a meeting is marked completed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberEntryUpdate'
            examples:
              fill_done:
                summary: Fill done and will_do
                value:
                  done: "- finished auth flow\n- wrote unit tests"
                  will_do: "- deploy to staging"
              update_promised:
                summary: Correct promised field
                value:
                  promised: "- implement JWT middleware"
      responses:
        '200':
          description: Entry updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

# ===========================================================================
# COMPONENTS
# ===========================================================================
components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        HS256-signed JWT. Obtain via `POST /token`.
        Pass as `Authorization: Bearer <token>`.
        Payload: `{ sub, email, role, iat, exp }`.

  # -------------------------------------------------------------------------
  # Reusable parameters
  # -------------------------------------------------------------------------
  parameters:
    id:
      name: id
      in: path
      required: true
      description: UUID of the resource.
      schema:
        type: string
        format: uuid

    user_id:
      name: user_id
      in: path
      required: true
      description: UUID of the user.
      schema:
        type: string
        format: uuid

    per_page:
      name: per_page
      in: query
      required: false
      description: Number of items per page. Capped at 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    page:
      name: page
      in: query
      required: false
      description: Page number (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1

  # -------------------------------------------------------------------------
  # Reusable responses
  # -------------------------------------------------------------------------
  responses:
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: VALIDATION_ERROR
            message: "'name' must not be blank"

    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: UNAUTHORIZED
            message: Authentication credentials were not provided

    Forbidden:
      description: JWT present but insufficient role or no project membership
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: FORBIDDEN
            message: You do not have permission to perform this action

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: NOT_FOUND
            message: "Group with id 'abc' does not exist"

    Conflict:
      description: Unique constraint violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: CONFLICT
            message: A meeting for this group and date already exists

  # -------------------------------------------------------------------------
  # Schemas
  # -------------------------------------------------------------------------
  schemas:

    # --- Auth ---------------------------------------------------------------

    Role:
      type: string
      enum: [MANAGER, MEMBER, GUEST]
      description: >
        Org-wide role embedded in the JWT.
        MANAGER — full access to all groups; controls project structure and membership.
        MEMBER  — access only to assigned groups; can edit own entry.
        GUEST   — read-only access to assigned groups; no MemberEntry tab.

    TokenRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: alice
        password:
          type: string
          format: password
          example: correct-horse-battery-staple

    TokenResponse:
      type: object
      required: [access_token, refresh_token]
      properties:
        access_token:
          type: string
          description: "Short-lived JWT (60 s expiry). Use in `Authorization: Bearer` header."
        refresh_token:
          type: string
          description: Opaque long-lived token. Use with `POST /token/refresh` to obtain a new access token.

    TokenRefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    TokenRefreshResponse:
      type: object
      required: [access_token, refresh_token]
      properties:
        access_token:
          type: string
          description: New short-lived JWT.
        refresh_token:
          type: string
          description: New refresh token (old one is invalidated — rotation).

    # --- User ---------------------------------------------------------------

    User:
      type: object
      description: Read-only. Users are managed exclusively via Django admin.
      required: [id, email, name, role]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        email:
          type: string
          format: email
          readOnly: true
          example: alice@company.com
        name:
          type: string
          readOnly: true
          description: "Computed as `first_name + last_name`. Not a stored field — serializer-level."
          example: Alice Smith
        role:
          $ref: '#/components/schemas/Role'

    PaginatedUsers:
      type: object
      required: [results, total, page, per_page]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          description: Total matching users before pagination.
          example: 14
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20

    # --- Group --------------------------------------------------------------

    Group:
      type: object
      required: [id, name, created_at, pinned]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          minLength: 1
          example: Project Falcon
        created_at:
          type: string
          format: date-time
          readOnly: true
          example: '2026-04-01T10:00:00Z'
        pinned:
          type: boolean
          readOnly: true
          description: >
            Whether the requesting user has pinned this group.
            Computed from the `UserPinnedGroup` M2M table — not a stored field on Group.
            Pinned groups are returned first in `GET /groups`.
          example: false

    GroupCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          example: Project Falcon

    GroupCreated:
      type: object
      description: >
        Returned when a group is first created. Does not include `pinned` —
        that field is a per-user computed value only meaningful in list context.
      required: [id, name, created_at]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          minLength: 1
          example: Project Falcon
        created_at:
          type: string
          format: date-time
          readOnly: true
          example: '2026-04-01T10:00:00Z'

    GroupUpdate:
      type: object
      description: >
        Update a group's name. All fields optional — send only those to change.
        Use `PUT /groups/{id}/pin` and `DELETE /groups/{id}/pin` to manage pin state.
      minProperties: 1
      properties:
        name:
          type: string
          minLength: 1
          example: Project Falcon (Q2)

    PaginatedGroups:
      type: object
      required: [results, total, page, per_page]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Group'
          description: >
            Pinned groups (for the requesting user) appear first,
            followed by the rest ordered by `created_at` descending.
        total:
          type: integer
          description: Total matching groups before pagination.
          example: 8
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20

    # --- Membership ---------------------------------------------------------

    ProjectMemberRecord:
      type: object
      required: [id, email, name, role]
      description: A user's membership record within a project.
      properties:
        id:
          type: string
          format: uuid
          description: User ID.
        email:
          type: string
          format: email
          example: bob@company.com
        name:
          type: string
          example: Bob Johnson
        role:
          $ref: '#/components/schemas/Role'

    AddMemberRequest:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: string
          format: uuid
          description: ID of the user to add. The user must exist (created via Django admin).

    # --- Meeting ------------------------------------------------------------

    Meeting:
      type: object
      description: >
        A single standup event for a project on a given date.
        Section content (promised, done, will_do, discussion, notes) lives in
        `MemberEntry` records — one per non-GUEST project member.
      required: [id, group_id, title, date, completed]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        group_id:
          type: string
          format: uuid
          readOnly: true
        title:
          type: string
          minLength: 1
          example: standup · 2026-05-09
        date:
          type: string
          format: date
          example: '2026-05-09'
        completed:
          type: boolean
          description: Set by MANAGER only. Signals the team standup is concluded.
          example: false

    MeetingCreate:
      type: object
      required: [date]
      properties:
        title:
          type: string
          minLength: 1
          description: Defaults to `"standup · YYYY-MM-DD"` if omitted.
          example: standup · 2026-05-09
        date:
          type: string
          format: date
          example: '2026-05-09'

    MeetingUpdate:
      type: object
      description: MANAGER only. All fields optional — send only those to change.
      minProperties: 1
      properties:
        title:
          type: string
          minLength: 1
        date:
          type: string
          format: date
          description: >
            Changing the date triggers a uniqueness check — returns `409` if another
            meeting for this group already exists on the new date.
        completed:
          type: boolean

    PaginatedMeetings:
      type: object
      required: [results, total, page, per_page]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Meeting'
        total:
          type: integer
          example: 30
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20

    # --- MemberEntry --------------------------------------------------------

    MemberEntry:
      type: object
      description: >
        One member's standup tab inside a meeting. Created eagerly by the server
        when the meeting is created — one per non-GUEST project member.
        `promised` is auto-populated from that user's most recent `will_do`
        in the same project.
      required: [id, meeting_id, user_id, promised, done, will_do, discussion, notes, updated_at]
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        meeting_id:
          type: string
          format: uuid
          readOnly: true
        user_id:
          type: string
          format: uuid
          readOnly: true
          description: The user this entry belongs to. Always a MANAGER or MEMBER — never a GUEST.
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: Last time any section field was written. Used to order entries in GET responses.
        promised:
          type: string
          description: Markdown. Auto-populated from the user's last `will_do` in this project.
          example: "- implement JWT middleware"
        done:
          type: string
          description: Markdown.
          example: ''
        will_do:
          type: string
          description: Markdown. Carried into the next meeting's `promised` for this user.
          example: ''
        discussion:
          type: string
          description: Markdown.
          example: ''
        notes:
          type: string
          description: Markdown.
          example: ''

    MemberEntryUpdate:
      type: object
      description: >
        Update section content for a MemberEntry. All fields optional.
        MEMBER may only update their own entry. MANAGER may update any entry.
      minProperties: 1
      properties:
        promised:
          type: string
        done:
          type: string
        will_do:
          type: string
        discussion:
          type: string
        notes:
          type: string

    # --- Errors -------------------------------------------------------------

    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Machine-readable error code.
          example: NOT_FOUND
        message:
          type: string
          description: Human-readable description.
          example: "Group with id 'abc' does not exist"
